@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu";
  height: 100vh;
  background-image: url(./bg/blob-scene-haikei.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: rotate 6s inherit alternate linear;
}
.login-card {
  position: relative;
  z-index: 3;
  width: 100%;
  margin: 0px 20px;
  padding: 70px 30px 44px;
  border-radius: 1.25rem;
  background-color: #fff;
  text-align: center;
}
.login-card > h2 {
  font-size: 36px;
  font-weight: bold;
  margin: 0px 0px 12px;
}
.login-card > h3 {
  color: rgba(0, 0, 0, 0.36);
  margin: 0px 0px 30px;
  font-weight: bold;
}
.loginForm {
  display: grid;
  width: 100%;
  margin: 0px;
  gap: 16px;
}
.loginForm > button,
.loginForm > input {
  width: 100%;
  height: 50px;
}
.loginForm > input {
  border: 1px solid #ebebeb;
  font-family: inherit;
  font-size: 16px;
  padding: 0px 16px;
  border-radius: 1.25rem;
  transition: all 0.377s;
}
.loginForm > input:hover {
  border: 2px solid #10449a;
}
.loginForm > button {
  cursor: pointer;
  width: 100%;
  padding: 0px 16px;
  border-radius: 1.25rem;
  font-weight: bold;
  font-family: inherit;
  letter-spacing: 2px;
  text-align: center;
  background-color: #216ce7;
  color: #f9f9f9;
  font-size: 1rem;
  border: none;
  transition: all 0.375s;
}
.loginForm > button:hover {
  background-color: #10449a;
}
.loginForm > a {
  text-decoration: none;
  text-align: left;
  color: #216ce7;
  margin-bottom: 6px;
  transition: all 0.375s;
  font-size: 0.9rem;
}
.loginForm > a:hover {
  color: #10449a;
}
@keyframes rotate {
  100%{
    background-position: 15% 50%;
  }
}
@media (width >= 500px){
  body{
    padding: 0px;
  }
  .login-card{
    width: 400px;
    margin: 0px;
  }
}